
<div class = 'splash-container'>
<h1 class='appname'>BudgetApp</h1>
</br>
<p class='welcom'>Welcome to Stevs BudgetApp!</p>
<br/>
<div class= 'imgUrl'>
<%= image_tag 'bud1.jpg', alt: 'logo', class: 'main-logo' %>
</div>
<div class='signU'
<% if user_signed_in? %>
  <!-- User is signed in, no need for redirection in the view -->
  <%= link_to 'Log In', new_user_session_path %>
<% else %>
  <!-- User is not signed in, display sign-up and login links -->
  <p class= 'add-log signed'> <%= link_to 'Log In', new_user_session_path %> </p> 
  <p class= 'add-log signeds'><%= link_to 'Sign Up', new_user_registration_path %></p>
<% end %>
</div>
</div>

